<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Rating</title>
</head>
<body>
    <img src="<%= editingData.cover_url %>" alt="<%= editingData.title %> cover">
    <h1><%= editingData.title %></h1>
    <h2>Author: <%= editingData.author %></h2>
    <form action="/edit/<%= editingData.id %>/post" method="POST">
        <label for="stars">Rate: </label><br><input type="number" name="stars" value="<%= editingData.stars %>" max="5" min="1"><br>
        <label for="review">Review: </label><br><input type="text" name="review" value="<%= editingData.review %>"><br>
        <button type="submit">Confirm</button>
        <a href="/">Cancel</a>
    </form>

</body>
</html>