<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Rating</title>
</head>
<body>
    <h1>Hi</h1>

    <div class="container">
        <% let num = 1; %>
        <% data.forEach(d => { %>
            <div class="rating-container">
                <p><%= num++ %></p>
                <img src="<%= d.cover_image %>" alt="<%= d.title %> cover">
                <h1><%= d.title %></h1>
                <p><%= d.review %></p>
                <h3>Rate: <%= d.stars %>/5</h3>
            </div>
        <% }) %>
    </div>

</body>
</html>